
<html>

<head>
<title>Page Title</title>
</head>

<body>
</html> <h1>Hello World</h1>
<p>Portfolio site coming soon!  Check back in a week or two!

<%= link_to "My Blog", posts_path %></p>
<p>

Listing All Posts:
(from app/views/welcome_controller/index.html.erb)</p>

</body>
