
<html>

<head>
<title>Page Title</title>
</head>

<body>
</html> <h1>[WelcomeController#index]  Hello World</h1>
<p>Portfolio site coming soon!  Check back in a week or two!

(from app/views/welcome_controller/index.html.erb)</p>
</body>
